<footer class="site-footer">

        <section class="follow-us">

            <header>
                <h4>Follow us</h4>
                <h6>Get all the latest updates</h6>
            </header>

            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>

        </section>

        <section class="about">

            <header>
                <h4>THE ESSENCE OF FOOD</h4>
                <h6>A blog dedicated to healthy recipes and nutritional articles.</h6>
            </header>

            <p>© 2019 The Essence of Food. Privacy Policy</p>

        </section>



        <section class="contacts">

            <header>
                <h4>Contacts</h4>
                <h6>Reach us on:</h6>
            </header>
            
            <ul>
                <li>+359 --- -- -- --<i class="fas fa-phone-volume"></i></li>
                <li>hello@foodess.bg<i class="fas fa-envelope"></i></li>
                <li>Sofia, 1 One Lane Str., fl. 1<i class="fas fa-map-marked"></i></li>
            </ul>
            
        </section>

</footer>