<footer class="site-footer">

        <section class="contacts">

            <header>
                <h4>Contacts</h4>
                <h6>Reach us on:</h6>
            </header>
            
            <ul>
                <li>+359 --- -- -- --</li>
                <li>hello@foodess.bg</li>
                <li>Sofia, 1 One Lane Str., <span id="flat">fl. 1</span></li>
            </ul>
            
        </section>

        <section class="about">

                <header>
                    <h4>THE ESSENCE OF FOOD</h4>
                    <h6>A blog dedicated to healthy recipes and nutritional articles.</h6>
                </header>
    
                <p>© 2019 The Essence of Food. Privacy Policy</p>
    
            </section>

        <section class="follow-us">

            <header>
                <h4>Follow us</h4>
                <h6>Get all the latest updates</h6>
            </header>

            <ul>
                <li><a href="#" title="Facebook"></a></li>
                <li><a href="#" title="Instagram"></a></li>
                <li><a href="#" title="Twitter"></a></li>
                <li><a href="#" title="Pinterest"></a></li>
                <li><a href="#" title="YouTube"></a></li>
            </ul>

        </section>

</footer>