<header class="site-header">

    <section class="site-logo">

        <p><i class="fas fa-seedling"></i></p>

    </section>

    <nav class="site-nav">

        <input type="checkbox" id="menu"/>
        <label for="menu" class="site-nav-menu"><i class="fas fa-bars"></i></label>
       
        {% assign pages = site.pages | sort: "rank" %}
        <ul class="site-nav-options">
            {% for page in pages %}
                {% if page.layout == "default" and page.title %}
                <li>
                    <a href="{{ site.baseurl }}{{ page.url }}">
                        {{page.title}}
                    </a>
                    {% if page.nested == 1 %}
                    <ul>
                        {% assign subpages = pages | sort: "title" %}
                            {% for subpage in subpages %}
                                {% if subpage.rank == page.rank and subpage.layout == "category-introduction" %}
                                <li>
                                    <a href="{{ site.baseurl }}{{ subpage.url }}">
                                        {{subpage.title}}
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>

    </nav>

</header>