.site-main-category-introduction .gallery {
    margin: 5rem 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    grid-gap: 0.5rem;

    border: 0.8rem double rgba(246, 246, 246, 0);
    box-shadow: 0px 0px 30px 5px var(--theme-color-black, #363538);
}

.site-main-category-introduction .gallery .image-article {
    position: relative;
}

.site-main-category-introduction .gallery .image-article:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: var(--theme-color-black, #363538);
    border-bottom: 0.15rem solid var(--theme-color-dark-blue, #408697);
    opacity: 0.75;
    z-index:1;

    transition: top 1s linear, bottom 1s linear;
}

.site-main-category-introduction .gallery .image-article:hover:before{
    top: 100%;
    bottom: 100%;
    transition: top 1s linear, bottom 1s linear;
}

.site-main-category-introduction .gallery .image-article p {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    
    color: var(--theme-color-white, #F6F6F6);

    font-size: 2rem;
    font-weight: 800;

    transition: opacity 0.25s linear;
}

.site-main-category-introduction .gallery .image-article:hover p{
    opacity: 0;
}