@media (max-width:960px) {
    .site-main-recipe .content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .site-main-recipe .content .nutrition-info{
        grid-column: 1;
        grid-row: 2;
    }

    .site-main-recipe>.content>.nutrition-info .element-info .image{
        height: 20vw;
    }
}

@media (max-width:768px) {
}

@media (max-width:640px) {
    .site-main-recipe .content .nutrition-info ul{
        grid-row-gap: 3rem;
    }
}

@media (max-width:480px) {
}

