/* about-us */
.site-main-default .about-us-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    justify-items: center;

    padding-top: 2rem;
}

.site-main-default .about-us-content>*{
    margin: 1.5rem;
    padding: 2rem;

    background-color: rgba(54, 53, 56, 0.1);
    
    width: 100%;
}

.site-main-default .about-us-content header{
    grid-row: 1/2;
    grid-column: 1/4;
}

.site-main-default .about-us-content footer{
    grid-row: 4/5;
    grid-column: 1/4;
}

.site-main-default .about-us-content main{
    grid-row: 2/3;
    grid-column: 1/4;
}

.site-main-default .about-us-content main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, -webkit-max-content);
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
    grid-column-gap: 4rem;
}

.site-main-default .about-us-content main p{
    grid-row: 1;
    grid-column: 1/4;
}

.site-main-default .about-us-content main .diverse{
    grid-row: 2;
    grid-column: 1;
}

.site-main-default .about-us-content main .nutritious{
    grid-row: 2;
    grid-column: 2;
}

.site-main-default .about-us-content main .delicious{
    grid-row: 2;
    grid-column: 3;
}

.site-main-default .about-us-content main section{
    margin: 2rem 0.25rem;
    padding: 1rem;

    background-color: rgba(246, 246, 246, 0.5);
    box-shadow: 0px 0px 20px 20px rgba(246, 246, 246, 0.5);
}

.site-main-default .about-us-content main section h4,
.site-main-default .about-us-content main section i,
.site-main-default .about-us-content main .diverse p:nth-of-type(3){
    color: var(--theme-color-dark-blue, #408697);
    font-weight: 800;
}
