
.site-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    background-color: var(--theme-color-black, #363538);
    color: var(--theme-color-white, #F6F6F6);
    opacity: 0.8;
    border-top: 0.15rem solid var(--theme-color-dark-blue, #408697);

    letter-spacing: 0.1rem;

    padding: 1rem 2rem 1rem 2rem;
}

.site-footer h4{
    color: var(--theme-color-dark-blue, #408697);
    font-weight: 600;
}

.site-footer section{
    flex: 0 0 32%;
}

.site-footer i{
    color: var(--theme-color-grey, #8D8C8A);
    width: 2rem;
}

/* follow-us*/
.site-footer .follow-us ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.site-footer .follow-us ul li{
    padding-right: 0 0.75rem;
}

.site-footer .follow-us ul li:nth-of-type(odd){
    flex: 0 0 15%;
}

.site-footer .follow-us ul li:nth-of-type(even){
    flex: 0 0 85%;
}

/* about */
.site-footer .about p{
    font-size: 0.75rem;
}

.site-footer .about h4,
.site-footer .about h6,
.site-footer .about p{
    text-align: center;
}

/* contacts */
.site-footer .contacts h4,
.site-footer .contacts h6,
.site-footer .contacts li
{
    text-align: right;
    position: relative;
}

.site-footer .contacts li{
    padding-right: 2rem;
}

.site-footer .contacts li i{
	position: absolute;
	top: 0.1rem; right: 0;
	text-align: center;
}
