@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap");
:root {
  --font-size-max: 20px;
  --font-size-min: 12px;
  --viewport-min: 320px;
  --viewport-max: 1600px;
  --min-line-height: 1;
  --max-line-height: 1.5;
  --theme-color-black: #363538;
  --theme-color-grey: #8D8C8A;
  --theme-color-white: #F6F6F6;
  --theme-color-dark-blue: #408697;
  --blue-border: 0.15rem solid var(--theme-color-dark-blue, #408697);
  --letter-spacing: 0.1rem;
  --box-shadow: 0px 0px 30px 5px var(--theme-color-black, #363538); }

/*responsive*/
/* core features */
/* animations */
/* icons */
/* images */
/*template for how-to and recipe layouts*/
/*template for food and nutrient profile layouts*/
/*responsive*/
/* core features */
/* animations */
/* icons */
/* images */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  color: var(--theme-color-black, #363538); }

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
a,
a:focus, a:hover, a:visited,
fieldset, input, textarea, select, option,
input:focus, textarea:focus, option:focus, select:focus,
select:hover, option:hover,
::-webkit-input-placeholder {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  text-decoration: none;
  text-align: left;
  color: inherit;
  outline: none; }

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
a,
a:focus, a:hover, a:visited,
fieldset, input, textarea, select, option,
input:focus, textarea:focus, option:focus, select:focus,
select:hover, option:hover,
::-moz-placeholder {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  text-decoration: none;
  text-align: left;
  color: inherit;
  outline: none; }

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
a,
a:focus, a:hover, a:visited,
fieldset, input, textarea, select, option,
input:focus, textarea:focus, option:focus, select:focus,
select:hover, option:hover,
:-ms-input-placeholder {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  text-decoration: none;
  text-align: left;
  color: inherit;
  outline: none; }

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
a,
a:focus, a:hover, a:visited,
fieldset, input, textarea, select, option,
input:focus, textarea:focus, option:focus, select:focus,
select:hover, option:hover,
::-ms-input-placeholder {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  text-decoration: none;
  text-align: left;
  color: inherit;
  outline: none; }

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
a,
a:focus, a:hover, a:visited,
fieldset, input, textarea, select, option,
input:focus, textarea:focus, option:focus, select:focus,
select:hover, option:hover,
::placeholder {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  text-decoration: none;
  text-align: left;
  color: inherit;
  outline: none; }

ol, ul {
  list-style: none; }

html {
  font-size: calc(12px + (20 - 12) * ((100vw - var(--viewport-min,320px)) / (1600 - 320)));
  font-family: 'Spectral', serif;
  line-height: 1.5; }

body {
  background-image: url("/the-essence-of-food/imgs/background.jpeg");
  background-repeat: repeat; }

h1, h2, h3, h4, h5, h6, p {
  padding-bottom: 1rem;
  text-align: center; }

h1, h2, h3, h4 {
  text-transform: uppercase; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

.blue {
  color: var(--theme-color-dark-blue, #408697); }

a:hover {
  color: var(--theme-color-dark-blue, #408697); }

.image {
  display: block;
  position: relative;
  overflow: hidden; }

.image {
  width: auto;
  height: 20vw; }

.image img {
  height: auto;
  width: 100%;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media (max-width: 960px) {
  .image {
    width: auto;
    height: 30vw; } }

@media (max-width: 768px) {
  .image {
    width: auto;
    height: 40vw; } }

@media (max-width: 640px) {
  .image {
    width: auto;
    height: 45vw; } }

@media (max-width: 480px) {
  .image {
    width: auto;
    height: 50; } }

.site-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--theme-color-black, #363538);
  color: var(--theme-color-white, #F6F6F6);
  opacity: 0.95;
  border-bottom: var(--blue-border, 0.15rem solid var(--theme-color-dark-blue, #408697));
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.2rem 2rem;
  z-index: 3;
  font-size: 0.85rem; }
  .site-header .site-logo {
    font-size: 0;
    position: relative; }
    .site-header .site-logo:before {
      content: "";
      font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
      font-weight: 900; }
    .site-header .site-logo:before {
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
  .site-header .site-nav-menu i {
    position: absolute;
    top: -100%;
    font-size: 3rem; }
  .site-header #menu {
    display: none; }

.site-nav .site-nav-options {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  /* hide the sub list options unless they are hovered over */
  /* set up an arrow */
  /* we want the arrow to appear only if there are sublist options */
  /* select a link only if it is both the first child and the second to last */ }
  .site-nav .site-nav-options li a {
    display: block;
    position: relative;
    text-align: center;
    padding: 0.75rem 1.5rem; }
  .site-nav .site-nav-options li ul {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background-color: var(--theme-color-black, #363538); }
  .site-nav .site-nav-options > li > ul {
    position: absolute;
    border-bottom: 0.15rem solid var(--theme-color-dark-blue, #408697);
    z-index: 1;
    left: -100%; }
  .site-nav .site-nav-options > li:hover > ul {
    min-width: 100%;
    left: auto; }
  .site-nav .site-nav-options li a:before {
    content: "";
    position: absolute;
    top: 45%;
    right: 0.5rem;
    height: 0;
    width: 0;
    border: 0.4rem solid transparent; }
  .site-nav .site-nav-options li a:first-child:nth-last-child(2):before {
    border-top-color: var(--theme-color-white, #F6F6F6); }
  .site-nav .site-nav-options li:hover a:first-child:nth-last-child(2):before {
    border-top-color: transparent;
    border-bottom-color: var(--theme-color-dark-blue, #408697);
    top: 25%; }

@media (max-width: 960px) {
  .site-header {
    /* make the menu icon invisible and really big so we can close the menu by 
        clicking on any area outside the nav */
    /* when the menu icon is clicked display the nav options */ }
    .site-header .site-nav-menu i {
      display: block;
      position: static; }
      .site-header .site-nav-menu i:hover {
        cursor: pointer; }
    .site-header .site-nav-options {
      display: none; }
    .site-header #menu:checked + .site-nav-menu i {
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 400vw;
      z-index: 1; }
    .site-header #menu:checked ~ .site-nav-options {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end; }
      .site-header #menu:checked ~ .site-nav-options li a {
        z-index: 2; }
      .site-header #menu:checked ~ .site-nav-options > li:hover > a {
        text-align: right; }
      .site-header #menu:checked ~ .site-nav-options > li:hover > ul {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        position: relative;
        right: 0;
        z-index: 3;
        border-top: 0.15rem solid var(--theme-color-dark-blue, #408697); } }

@media (max-width: 480px) {
  .site-header {
    /* when the menu icon is clicked display the nav options */ }
    .site-header #menu:checked ~ .site-nav-options > li a {
      text-align: right; }
    .site-header #menu:checked ~ .site-nav-options > li > ul {
      position: static;
      align-items: flex-end;
      border-top: 0.15rem solid var(--theme-color-dark-blue, #408697);
      width: 40vw; } }

.site-header > .site-nav > .site-nav-options > li > a,
.site-header .site-logo {
  -webkit-animation: slide-in-top 1s ease;
          animation: slide-in-top 1s ease; }

.site-header > .site-nav > .site-nav-options li:nth-of-type(2) > a {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s; }

.site-header > .site-nav > .site-nav-options li:nth-of-type(3) > a {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

.site-header > .site-nav > .site-nav-options li:nth-of-type(4) > a {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s; }

.site-header > .site-nav > .site-nav-options li:nth-of-type(5) > a {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.site-header > .site-nav > .site-nav-options li:nth-of-type(6) > a {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s; }

@-webkit-keyframes slide-in-top {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes slide-in-top {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.site-footer {
  font-size: 0.85rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  background-color: var(--theme-color-black, #363538);
  color: var(--theme-color-white, #F6F6F6);
  opacity: 0.95;
  border-top: var(--blue-border, 0.15rem solid var(--theme-color-dark-blue, #408697));
  letter-spacing: var(--letter-spacing, 0.1rem);
  padding: 1rem 2rem; }
  .site-footer h4, .site-footer h6, .site-footer li {
    font-size: 0.85rem; }
  .site-footer h4 {
    color: var(--theme-color-dark-blue, #408697);
    font-weight: 600;
    font-size: 1rem; }
  .site-footer :before {
    color: var(--theme-color-grey, #8D8C8A);
    width: 2rem; }

/* follow-us*/
.site-footer .follow-us {
  position: relative;
  /* add icons to ul li a:before */ }
  .site-footer .follow-us li:nth-of-type(1) a:before {
    content: "";
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900; }
  .site-footer .follow-us li:nth-of-type(2) a:before {
    content: "";
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900; }
  .site-footer .follow-us li:nth-of-type(3) a:before {
    content: "";
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900; }
  .site-footer .follow-us li:nth-of-type(4) a:before {
    content: "";
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900; }
  .site-footer .follow-us li:nth-of-type(5) a:before {
    content: "";
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900; }
  .site-footer .follow-us h4, .site-footer .follow-us h6 {
    text-align: right; }
  .site-footer .follow-us ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    position: absolute;
    right: 0; }
  .site-footer .follow-us a:hover:before {
    color: var(--theme-color-dark-blue, #408697); }

/* about */
.site-footer .about p {
  font-size: 0.75rem; }

/* contacts */
.site-footer .contacts {
  /* add icons to ul li:before */ }
  .site-footer .contacts ul li:nth-of-type(1):before {
    content: "";
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900; }
  .site-footer .contacts ul li:nth-of-type(2):before {
    content: "";
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900; }
  .site-footer .contacts ul li:nth-of-type(3):before {
    content: "";
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900; }
  .site-footer .contacts h4, .site-footer .contacts h6 {
    text-align: left; }
  .site-footer .contacts li {
    position: relative;
    padding-left: 2rem; }
    .site-footer .contacts li:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }

@media (max-width: 960px) {
  .site-footer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem; }
    .site-footer .contacts,
    .site-footer .follow-us {
      grid-column: span 2;
      grid-row: 1; }
    .site-footer .about {
      grid-column: span 4;
      align-self: center; }
    .site-footer #flat {
      display: block; } }

.site-main-default {
  /* image */
  /* text */
  /* disclaimer */ }
  .site-main-default .content {
    margin: 0 2rem 4rem 2rem; }
  .site-main-default h3 {
    color: var(--theme-color-dark-blue, #408697);
    font-weight: 600;
    padding-top: 5rem;
    padding-bottom: 2rem; }
  .site-main-default .recipes > p {
    padding-bottom: 2rem; }
  .site-main-default .perfect-recipe .gallery article .text,
  .site-main-default .perfect-recipe .gallery article img {
    opacity: 1; }
  .site-main-default .perfect-recipe .gallery article .image {
    border-color: transparent; }
  .site-main-default .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content; }
  .site-main-default .gallery article {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    color: var(--theme-color-white, #F6F6F6);
    border: 0.75rem double transparent;
    box-shadow: var(--box-shadow, 0px 0px 30px 5px var(--theme-color-black, #363538)); }
  .site-main-default .gallery .image {
    border: 0.5rem solid rgba(54, 53, 56, 0.9);
    display: block; }
    .site-main-default .gallery .image img {
      opacity: 0.75; }
  .site-main-default .gallery .text {
    flex: 1 1 30%;
    background-color: var(--theme-color-black, #363538);
    opacity: 0.9;
    border-bottom: 0.15rem solid var(--theme-color-dark-blue, #408697);
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; }
    .site-main-default .gallery .text h5 {
      font-size: 2rem; }
  .site-main-default .disclaimer-content {
    padding: 15vw 2rem 7.5vw 2rem;
    justify-content: center; }

/* contact - us */
.site-main-default .contact-us-content {
  margin: 4rem 2rem; }
  .site-main-default .contact-us-content h4,
  .site-main-default .contact-us-content .button {
    background-color: var(--theme-color-black, #363538);
    color: var(--theme-color-white, #F6F6F6);
    opacity: 0.8;
    border: var(--blue-border, 0.15rem solid var(--theme-color-dark-blue, #408697));
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    letter-spacing: 0.1rem; }
  .site-main-default .contact-us-content .row {
    position: relative; }
  .site-main-default .contact-us-content i {
    font-size: 1rem;
    color: var(--theme-color-grey, #8D8C8A);
    z-index: 1;
    position: absolute;
    left: 0.5rem;
    top: 50%;
    text-align: center;
    transform: translateY(-50%); }
  .site-main-default .contact-us-content option,
  .site-main-default .contact-us-content select,
  .site-main-default .contact-us-content input,
  .site-main-default .contact-us-content textarea {
    width: 100%;
    color: var(--theme-color-grey, #8D8C8A);
    font-size: 1rem;
    padding-left: 3rem;
    margin: 1rem 0; }
  .site-main-default .contact-us-content option,
  .site-main-default .contact-us-content select,
  .site-main-default .contact-us-content input {
    height: 2rem; }
  .site-main-default .contact-us-content input:focus,
  .site-main-default .contact-us-content textarea:focus,
  .site-main-default .contact-us-content select:focus {
    background-color: var(--theme-color-black, #363538);
    color: var(--theme-color-white, #F6F6F6);
    opacity: 0.8;
    border: var(--blue-border, 0.15rem solid var(--theme-color-dark-blue, #408697)); }

/* about-us */
.site-main-default .about-us-content {
  display: grid;
  justify-items: center;
  margin: 4rem 2rem; }
  .site-main-default .about-us-content .introduction,
  .site-main-default .about-us-content .thesis,
  .site-main-default .about-us-content .conclusion {
    background-color: rgba(54, 53, 56, 0.1);
    width: 100%;
    margin: 1.5rem;
    padding: 2rem 4rem; }
    .site-main-default .about-us-content .introduction h2,
    .site-main-default .about-us-content .thesis h2,
    .site-main-default .about-us-content .conclusion h2 {
      font-size: 1.5rem; }
  .site-main-default .about-us-content .thesis {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    grid-column-gap: 4rem; }
    .site-main-default .about-us-content .thesis h4 {
      padding-bottom: 1.5rem; }
    .site-main-default .about-us-content .thesis p,
    .site-main-default .about-us-content .thesis h2 {
      grid-column: 1/-1; }
    .site-main-default .about-us-content .thesis section {
      margin: 2rem 0.25rem;
      padding: 2rem 1rem;
      background-color: rgba(246, 246, 246, 0.5);
      box-shadow: 0px 0px 20px 20px rgba(246, 246, 246, 0.5); }
    .site-main-default .about-us-content .thesis ol li:before {
      content: "";
      font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
      font-weight: 900; }
    .site-main-default .about-us-content .thesis h4,
    .site-main-default .about-us-content .thesis ol li:before,
    .site-main-default .about-us-content .thesis .diverse p:nth-of-type(3) {
      color: var(--theme-color-dark-blue, #408697);
      font-weight: 800; }

.site-main-default .perfect-recipe .gallery article:hover .image img {
  -webkit-animation: zoom-in 1.5s ease;
          animation: zoom-in 1.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.site-main-default .perfect-recipe .gallery article .image img {
  -webkit-animation: zoom-out 0.5s ease;
          animation: zoom-out 0.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes zoom-in {
  from {
    height: auto;
    width: 100%; }
  to {
    height: auto;
    width: 125%; } }

@keyframes zoom-in {
  from {
    height: auto;
    width: 100%; }
  to {
    height: auto;
    width: 125%; } }

@-webkit-keyframes zoom-out {
  from {
    height: auto;
    width: 125%; }
  to {
    height: auto;
    width: 100%; } }

@keyframes zoom-out {
  from {
    height: auto;
    width: 125%; }
  to {
    height: auto;
    width: 100%; } }

@media (min-width: 640px) {
  .site-main-default .gallery article .image {
    transition: border-color 0.6s ease-in; }
    .site-main-default .gallery article .image:hover {
      border-color: transparent; }
    .site-main-default .gallery article .image img,
    .site-main-default .gallery article .image ~ .text {
      transition: opacity 0.6s ease-in; }
    .site-main-default .gallery article .image:hover img,
    .site-main-default .gallery article .image:hover ~ .text {
      opacity: 1; } }

@media (max-width: 960px) {
  .site-main-default .about-us-content .thesis {
    display: flex;
    flex-flow: column nowrap; }
  .site-main-default .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    grid-gap: 1rem; } }

.site-main-category-introduction .gallery {
  margin: 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 0.5rem;
  border: 0.8rem double rgba(246, 246, 246, 0);
  box-shadow: var(--box-shadow, 0px 0px 30px 5px var(--theme-color-black, #363538)); }
  .site-main-category-introduction .gallery h6 {
    display: none; }
  .site-main-category-introduction .gallery .image-article {
    position: relative; }
  .site-main-category-introduction .gallery .image-article:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--theme-color-black, #363538);
    color: var(--theme-color-white, #F6F6F6);
    opacity: 0.75;
    border-bottom: 0.15rem solid var(--theme-color-dark-blue, #408697);
    z-index: 1; }
  .site-main-category-introduction .gallery .image-article p {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    color: var(--theme-color-white, #F6F6F6);
    font-size: 2rem;
    font-weight: 800; }

.site-main-category-introduction .gallery .image-article p {
  transition: opacity 0.25s linear; }

.site-main-category-introduction .gallery .image-article:hover p {
  opacity: 0;
  font-size: 0.00001rem; }

.site-main-category-introduction .gallery .image-article:before {
  transition: top 1s linear, bottom 1s linear; }

.site-main-category-introduction .gallery .image-article:hover:before {
  top: 100%;
  bottom: 100%;
  transition: top 1s linear, bottom 1s linear; }

@media (max-width: 640px) {
  .site-main-category-introduction .gallery {
    grid-template-columns: 1fr; } }

.site-main-recipe .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  margin: 4rem 2rem;
  background-image: url(https://images.pexels.com/photos/2180090/pexels-photo-2180090.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  position: relative;
  z-index: 2; }
  .site-main-recipe .content:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(246, 246, 246, 0.5);
    z-index: -1; }
  .site-main-recipe .content h4 {
    color: var(--theme-color-dark-blue, #408697);
    font-weight: 800; }
  .site-main-recipe .content ul li {
    padding: 0.5rem 0; }
  .site-main-recipe .content .recipe,
  .site-main-recipe .content .nutrition-info {
    box-shadow: var(--box-shadow, 0px 0px 30px 5px var(--theme-color-black, #363538));
    padding: 4rem 2rem; }
  .site-main-recipe .content input[type="checkbox"] {
    display: none; }

/*instructions*/
.site-main-recipe .content .recipe label {
  cursor: pointer; }

.site-main-recipe .content .recipe .recipe-ingredients,
.site-main-recipe .content .recipe .recipe-instructions {
  padding-bottom: 2rem; }

.site-main-recipe .content .recipe .recipe-ingredients ul {
  display: grid;
  grid-template-columns: 50% 50%; }
  .site-main-recipe .content .recipe .recipe-ingredients ul li {
    display: grid;
    grid-template-columns: 5% 85%; }
    .site-main-recipe .content .recipe .recipe-ingredients ul li .recipe-ingredient {
      display: grid;
      grid-template-columns: 20% 70%;
      grid-column-gap: 0.25rem;
      text-align: right; }

.site-main-recipe .content .recipe .recipe-instructions p,
.site-main-recipe .content .recipe .recipe-ingredients ul li {
  text-align: left;
  padding: 0.5rem 0; }

.site-main-recipe .content .recipe .recipe-ingredients ul li:before {
  content: "";
  font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
  font-weight: 900; }

.site-main-recipe .content .recipe .recipe-instructions p:before {
  content: "";
  font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
  font-weight: 900; }

.site-main-recipe .content .recipe :before {
  color: var(--theme-color-dark-blue, #408697);
  padding-right: 1rem; }

.site-main-recipe .content .recipe input[type="checkbox"]:checked ~ .recipe-ingredient {
  -webkit-text-decoration: line-through solid var(--theme-color-dark-blue, #408697);
          text-decoration: line-through solid var(--theme-color-dark-blue, #408697); }

.site-main-recipe .content .recipe input[type="checkbox"]:checked ~ .recipe-instruction {
  -webkit-text-decoration: line-through solid var(--theme-color-dark-blue, #408697);
          text-decoration: line-through solid var(--theme-color-dark-blue, #408697); }

/* nutrition-info */
.site-main-recipe .content .nutrition-info ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  height: 85%; }
  .site-main-recipe .content .nutrition-info ul li:nth-of-type(1),
  .site-main-recipe .content .nutrition-info ul li:nth-of-type(2) {
    align-self: flex-start;
    width: 100%; }
  .site-main-recipe .content .nutrition-info ul li:nth-of-type(3) {
    grid-column: 1/-1;
    align-self: center;
    width: 50%; }
  .site-main-recipe .content .nutrition-info ul li:nth-of-type(4),
  .site-main-recipe .content .nutrition-info ul li:nth-of-type(5) {
    align-self: flex-end;
    width: 100%; }

.site-main-recipe .content .nutrition-info ul .element-info {
  text-align: center;
  color: var(--theme-color-dark-blue, #408697);
  font-weight: 800;
  letter-spacing: var(--letter-spacing, 0.1rem);
  padding: 1rem; }

.site-main-recipe .content .nutrition-info ul .element-info .name {
  text-transform: uppercase;
  background-color: var(--theme-color-black, #363538);
  color: var(--theme-color-white, #F6F6F6);
  opacity: 0.5;
  border: 0.25rem inset var(--theme-color-dark-blue, #408697);
  padding: 0.5rem 0; }

.site-main-recipe .content .nutrition-info ul .element-info .stat {
  font-size: 2rem; }

.site-main-recipe .content .nutrition-info .element-info .image {
  height: 10vw;
  width: auto;
  left: 50%;
  transform: translate(-50%); }

@media (max-width: 1024px) {
  .site-main-recipe .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
    .site-main-recipe .content .nutrition-info .element-info .image {
      height: 18vw; } }

@media (max-width: 640px) {
  .site-main-recipe .content .nutrition-info .element-info .image {
    height: 25vw; } }

@media (max-width: 480px) {
  .site-main-recipe .content .nutrition-info .element-info .image {
    height: 30vw; } }

.site-main-food-profile h2 {
  color: var(--theme-color-dark-blue, #408697);
  font-weight: 900;
  font-size: 2rem; }

.site-main-food-profile label {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  background-color: rgba(54, 53, 56, 0.6);
  color: rgba(246, 246, 246, 0.8);
  display: block;
  width: 100%;
  cursor: pointer; }
  .site-main-food-profile label:before {
    content: "";
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900; }
  .site-main-food-profile label:before {
    font-size: 2rem;
    padding-left: 1rem; }

.site-main-food-profile .key-sources,
.site-main-food-profile .fun-facts {
  margin: 4rem 2rem; }

.site-main-food-profile .key-sources .toggle-key-sources,
.site-main-food-profile .fun-facts .toggle-fun-facts {
  display: none; }

.site-main-food-profile input[type="checkbox"] {
  display: none; }
  .site-main-food-profile input[type="checkbox"]:checked ~ label {
    font-size: 0.0001rem; }
  .site-main-food-profile input[type="checkbox"]:checked ~ label:before {
    content: '\f106'; }
  .site-main-food-profile input[type="checkbox"]:checked ~ .toggle-key-sources,
  .site-main-food-profile input[type="checkbox"]:checked ~ .toggle-fun-facts {
    display: block; }

/* nutrition - info */
.site-main-food-profile .key-sources ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem; }
  .site-main-food-profile .key-sources ul li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .site-main-food-profile .key-sources ul .stat {
    font-size: 2rem;
    font-weight: 800;
    color: var(--theme-color-dark-blue, #408697); }
  .site-main-food-profile .key-sources ul .source {
    background-color: var(--theme-color-black, #363538);
    color: var(--theme-color-white, #F6F6F6);
    opacity: 0.5;
    border: 0.25rem inset var(--theme-color-dark-blue, #408697);
    padding: 0.5rem 0;
    text-transform: uppercase;
    text-align: center;
    width: 100%; }

.site-main-food-profile .key-sources .vit-min-icon {
  height: auto;
  width: 6rem; }

/* fun-facts */
.site-main-food-profile .fun-facts p {
  text-align: right;
  font-style: italic;
  background-color: var(--theme-color-black, #363538);
  color: var(--theme-color-white, #F6F6F6);
  opacity: 0.5;
  padding: 0.5rem; }

.site-main-food-profile .fun-facts .food-fact {
  position: relative; }
  .site-main-food-profile .fun-facts .food-fact .image {
    width: auto;
    height: 60vw;
    border: 1rem groove rgba(246, 246, 246, 0.8); }
  .site-main-food-profile .fun-facts .food-fact h6 {
    position: -webkit-sticky;
    position: sticky;
    background-color: rgba(54, 53, 56, 0.8);
    color: rgba(246, 246, 246, 0.8);
    width: 100%;
    bottom: 0;
    padding: 0 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    z-index: 2; }

.site-main-food-profile input[type="checkbox"]:checked ~ .toggle-fun-facts,
.site-main-food-profile input[type="checkbox"]:checked ~ .toggle-key-sources,
.site-main-food-profile input[type="checkbox"]:checked ~ .toggle-key-sources ul > li {
  -webkit-animation: slide-in-right 1s ease;
          animation: slide-in-right 1s ease; }

.site-main-food-profile input[type="checkbox"]:checked ~ .toggle-key-sources ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.1;
          animation-delay: 0.1; }

.site-main-food-profile input[type="checkbox"]:checked ~ .toggle-key-sources ul li:nth-of-type(3) {
  -webkit-animation-delay: 0.2;
          animation-delay: 0.2; }

.site-main-food-profile input[type="checkbox"]:checked ~ .toggle-key-sources ul li:nth-of-type(4) {
  -webkit-animation-delay: 0.3;
          animation-delay: 0.3; }

.site-main-food-profile input[type="checkbox"]:checked ~ .toggle-key-sources ul li:nth-of-type(5) {
  -webkit-animation-delay: 0.4;
          animation-delay: 0.4; }

@-webkit-keyframes slide-in-right {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes slide-in-right {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.site-main-food-profile input[type="checkbox"]:checked ~ .toggle-fun-facts .food-fact,
.site-main-food-profile input[type="checkbox"]:checked ~ .toggle-key-sources ul > li {
  -webkit-animation: scale 1s linear;
          animation: scale 1s linear;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

@-webkit-keyframes scale {
  from {
    width: 0;
    height: 0; }
  to {
    width: 100%;
    height: 100%; } }

@keyframes scale {
  from {
    width: 0;
    height: 0; }
  to {
    width: 100%;
    height: 100%; } }

@media (max-width: 960px) {
  .site-main-food-profile .key-sources ul {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: stretch; }
    .site-main-food-profile .key-sources ul li:nth-of-type(1) {
      grid-row: 1;
      grid-column: 1 / 3; }
    .site-main-food-profile .key-sources ul li:nth-of-type(2) {
      grid-row: 2;
      grid-column: 2 / 4; }
    .site-main-food-profile .key-sources ul li:nth-of-type(3) {
      grid-row: 1;
      grid-column: 3 / 5; }
    .site-main-food-profile .key-sources ul li:nth-of-type(4) {
      grid-row: 2;
      grid-column: 4 / 6; }
    .site-main-food-profile .key-sources ul li:nth-of-type(5) {
      grid-row: 1;
      grid-column: 5 / 7; } }

@media (max-width: 640px) {
  .site-main-food-profile .fun-facts .food-fact h6 {
    font-size: 1rem; } }

.site-main-how-to-article .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  margin: 4rem 2rem;
  background-image: url(https://images.pexels.com/photos/1478524/pexels-photo-1478524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  position: relative;
  z-index: 2; }
  .site-main-how-to-article .content:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(246, 246, 246, 0.5);
    z-index: -1; }
  .site-main-how-to-article .content h4 {
    color: var(--theme-color-dark-blue, #408697);
    font-weight: 800; }
  .site-main-how-to-article .content ul li {
    padding: 0.5rem 0; }
  .site-main-how-to-article .content .the-basics,
  .site-main-how-to-article .content .tips-tricks {
    box-shadow: var(--box-shadow, 0px 0px 30px 5px var(--theme-color-black, #363538));
    padding: 4rem 2rem; }
  .site-main-how-to-article .content h4 {
    height: 6rem; }

.site-main-how-to-article .content .the-basics ul li .steps,
.site-main-how-to-article .content .the-basics p {
  font-weight: 800;
  text-transform: uppercase; }

.site-main-how-to-article .content .the-basics p {
  padding-top: 3rem; }

.site-main-how-to-article .content .tips-tricks ul li:before {
  content: "";
  font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
  font-weight: 900; }

.site-main-how-to-article .content .the-basics ul li .steps,
.site-main-how-to-article .content .the-basics p,
.site-main-how-to-article .content .tips-tricks ul li:before {
  font-size: 1.5rem; }

.site-main-how-to-article .content .the-basics ul li .steps,
.site-main-how-to-article .content .tips-tricks ul li:before {
  color: var(--theme-color-dark-blue, #408697);
  padding-right: 1rem; }

@media (max-width: 1024px) {
  .site-main-how-to-article .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; } }

.site-main-nutrient-profile h2 {
  color: var(--theme-color-dark-blue, #408697);
  font-weight: 900;
  font-size: 2rem; }

.site-main-nutrient-profile label {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  background-color: rgba(54, 53, 56, 0.6);
  color: rgba(246, 246, 246, 0.8);
  display: block;
  width: 100%;
  cursor: pointer; }
  .site-main-nutrient-profile label:before {
    content: "";
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900; }
  .site-main-nutrient-profile label:before {
    font-size: 2rem;
    padding-left: 1rem; }

.site-main-nutrient-profile .benefits,
.site-main-nutrient-profile .key-sources {
  margin: 4rem 2rem; }

.site-main-nutrient-profile .benefits .toggle-benefits,
.site-main-nutrient-profile .key-sources .toggle-key-sources {
  display: none; }

.site-main-nutrient-profile input[type="checkbox"] {
  display: none; }
  .site-main-nutrient-profile input[type="checkbox"]:checked ~ label {
    font-size: 0.0001rem; }
  .site-main-nutrient-profile input[type="checkbox"]:checked ~ label:before {
    content: '\f106'; }
  .site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits,
  .site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-key-sources {
    display: block; }

/* benefits */
.site-main-nutrient-profile .benefits ul li {
  padding: 0.5rem; }
  .site-main-nutrient-profile .benefits ul li:before {
    content: "";
    font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900; }
  .site-main-nutrient-profile .benefits ul li:before {
    font-size: 1.5rem;
    padding-right: 1rem;
    color: var(--theme-color-dark-blue, #408697); }

/* key sources */
.site-main-nutrient-profile .key-sources ul {
  display: grid;
  grid-template-columns: 20% 1fr 1fr 20%;
  grid-auto-rows: minmax(10rem, 1fr);
  grid-auto-flow: dense;
  grid-gap: 0.1rem;
  width: 100%;
  border: 0.8rem double rgba(246, 246, 246, 0);
  box-shadow: var(--box-shadow, 0px 0px 30px 5px var(--theme-color-black, #363538));
  background-color: var(--theme-color-black, #363538);
  color: var(--theme-color-white, #F6F6F6);
  opacity: 0.9; }

.site-main-nutrient-profile .key-sources ul li {
  position: relative; }
  .site-main-nutrient-profile .key-sources ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--theme-color-black, #363538);
    color: var(--theme-color-white, #F6F6F6);
    opacity: 0.6;
    border: 0.15rem solid var(--theme-color-white, #F6F6F6);
    border-bottom: 0.15rem solid var(--theme-color-dark-blue, #408697);
    z-index: 1; }
  .site-main-nutrient-profile .key-sources ul li .text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    color: var(--theme-color-white, #F6F6F6);
    background-color: rgba(246, 246, 246, 0.2);
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center; }
    .site-main-nutrient-profile .key-sources ul li .text .stat {
      color: #b7d9e2;
      font-size: 1.5rem;
      font-weight: 800; }
    .site-main-nutrient-profile .key-sources ul li .text .stat-base,
    .site-main-nutrient-profile .key-sources ul li .text .name {
      font-size: 0.75rem; }
  .site-main-nutrient-profile .key-sources ul li .image {
    height: 100%;
    width: 100%; }
  .site-main-nutrient-profile .key-sources ul li.long {
    grid-column: 1/-1; }
  .site-main-nutrient-profile .key-sources ul li.v-img img {
    width: auto;
    height: 100%; }
  .site-main-nutrient-profile .key-sources ul li.mid.v-img {
    grid-row: span 2; }
  .site-main-nutrient-profile .key-sources ul li.mid.h-img {
    grid-column: span 2; }

.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits h2,
.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits h4,
.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-key-sources,
.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits ul li {
  -webkit-animation: slide-in-right 1s ease;
          animation: slide-in-right 1s ease; }

.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.02s;
          animation-delay: 0.02s; }

.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits ul li:nth-of-type(3) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s; }

.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits ul li:nth-of-type(4) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s; }

.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits ul li:nth-of-type(5) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s; }

.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits ul li:nth-of-type(6) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits ul li:nth-of-type(7) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s; }

.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits ul li:nth-of-type(8) {
  -webkit-animation-delay: 0.14s;
          animation-delay: 0.14s; }

.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits ul li:nth-of-type(9) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s; }

.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-benefits ul li:nth-of-type(10) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s; }

@keyframes slide-in-right {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.site-main-nutrient-profile input[type="checkbox"]:checked ~ .toggle-key-sources ul {
  -webkit-animation: scale 1s linear;
          animation: scale 1s linear;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

@keyframes scale {
  from {
    width: 0;
    height: 0; }
  to {
    width: 100%;
    height: 100%; } }

@media (max-width: 960px) {
  .site-main-nutrient-profile .key-sources ul {
    grid-template-columns: 20% repeat(4, 1fr) 20%; }
    .site-main-nutrient-profile .key-sources ul li.mid.v-img.expand {
      grid-row: span 3; } }

@media (max-width: 640px) {
  .site-main-nutrient-profile .key-sources ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 30vw);
    align-items: stretch; }
    .site-main-nutrient-profile .key-sources ul li.mid.v-img.expand,
    .site-main-nutrient-profile .key-sources ul li.mid.h-img,
    .site-main-nutrient-profile .key-sources ul li.mid.v-img {
      grid-row: span 1;
      grid-column: 1/-1; }
    .site-main-nutrient-profile .key-sources ul li.mid.v-img img {
      width: 100%;
      height: auto; } }

.gallery-content {
  margin: 4rem auto;
  max-width: 85vw;
  padding: 1rem;
  border: 0.8rem double rgba(246, 246, 246, 0);
  box-shadow: var(--box-shadow, 0px 0px 30px 5px var(--theme-color-black, #363538));
  background-color: var(--theme-color-black, #363538);
  color: var(--theme-color-white, #F6F6F6);
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
  justify-content: center; }
  .gallery-content .image-article {
    grid-row: span 1;
    grid-column: span 1;
    position: relative;
    height: 100%;
    width: 100%;
    border: 0.2rem inset var(--theme-color-white);
    padding-top: 100%; }
    .gallery-content .image-article:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--theme-color-black, #363538);
      opacity: 0.2; }
    .gallery-content .image-article img {
      height: 100%;
      width: auto; }
  .gallery-content .image-article:nth-of-type(9n + 3),
  .gallery-content .image-article:nth-of-type(9n + 5) {
    grid-row: span 2;
    grid-column: span 1;
    padding-top: 200%; }
  .gallery-content .image-article:nth-of-type(9n + 2),
  .gallery-content .image-article:nth-of-type(9n + 6) {
    grid-row: span 1;
    grid-column: span 2;
    padding-top: 50%; }
    .gallery-content .image-article:nth-of-type(9n + 2) img,
    .gallery-content .image-article:nth-of-type(9n + 6) img {
      height: auto;
      width: 100%; }

.gallery-content .image-article {
  border-color: border-color 1s ease-in; }
  .gallery-content .image-article:hover {
    border-color: transparent; }

.gallery-content .image-article:hover img,
.gallery-content .image-article:hover img {
  -webkit-animation: zoom-in-p 1.5s ease;
          animation: zoom-in-p 1.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.gallery-content .image-article img,
.gallery-content .image-article img {
  -webkit-animation: zoom-out-p 0.5s ease;
          animation: zoom-out-p 0.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.gallery-content .image-article:nth-of-type(9n + 2):hover img,
.gallery-content .image-article:nth-of-type(9n + 6):hover img {
  -webkit-animation: zoom-in 1.5s ease;
          animation: zoom-in 1.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.gallery-content .image-article:nth-of-type(9n + 2) img,
.gallery-content .image-article:nth-of-type(9n + 6) img {
  -webkit-animation: zoom-out 0.5s ease;
          animation: zoom-out 0.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.gallery-content .image-article:hover:before {
  -webkit-animation: lens 1.5s ease;
          animation: lens 1.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.gallery-content .image-article:before {
  -webkit-animation: lens-out 0.5s ease;
          animation: lens-out 0.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@keyframes zoom-in {
  from {
    height: auto;
    width: 100%; }
  to {
    height: auto;
    width: 125%; } }

@keyframes zoom-out {
  from {
    height: auto;
    width: 125%; }
  to {
    height: auto;
    width: 100%; } }

@-webkit-keyframes zoom-in-p {
  from {
    height: 100%;
    width: auto; }
  to {
    height: 125%;
    width: auto; } }

@keyframes zoom-in-p {
  from {
    height: 100%;
    width: auto; }
  to {
    height: 125%;
    width: auto; } }

@-webkit-keyframes zoom-out-p {
  from {
    height: 125%;
    width: auto; }
  to {
    height: 100%;
    width: auto; } }

@keyframes zoom-out-p {
  from {
    height: 125%;
    width: auto; }
  to {
    height: 100%;
    width: auto; } }

@-webkit-keyframes lens-out {
  from {
    height: 0rem;
    width: 0rem; }
  to {
    height: 100%;
    width: 100%; } }

@keyframes lens-out {
  from {
    height: 0rem;
    width: 0rem; }
  to {
    height: 100%;
    width: 100%; } }

@-webkit-keyframes lens {
  from {
    height: 100%;
    width: 100%; }
  to {
    height: 0rem;
    width: 0rem; } }

@keyframes lens {
  from {
    height: 100%;
    width: 100%; }
  to {
    height: 0rem;
    width: 0rem; } }

@media (max-width: 960px) {
  .gallery-content {
    grid-template-columns: repeat(3, 25vw); } }

@media (max-width: 640px) {
  .gallery-content {
    grid-template-columns: repeat(2, 40vw); } }

@media (max-width: 480px) {
  .gallery-content {
    display: flex;
    flex-flow: column nowrap; }
    .gallery-content .image-article:nth-of-type(n + 0) {
      padding-top: 70%; }
      .gallery-content .image-article:nth-of-type(n + 0) img {
        height: 100%;
        width: auto; }
    .gallery-content .image-article:nth-of-type(n + 0):hover img {
      -webkit-animation: zoom-in-p 1.5s ease;
              animation: zoom-in-p 1.5s ease; }
    .gallery-content .image-article:nth-of-type(n + 0) img {
      -webkit-animation: zoom-out-p 0.5s ease;
              animation: zoom-out-p 0.5s ease; }
  @-webkit-keyframes zoom-in-p {
    from {
      height: 100%;
      width: auto; }
    to {
      height: 125%;
      width: auto; } }
  @keyframes zoom-in-p {
    from {
      height: 100%;
      width: auto; }
    to {
      height: 125%;
      width: auto; } }
  @-webkit-keyframes zoom-out-p {
    from {
      height: 125%;
      width: auto; }
    to {
      height: 100%;
      width: auto; } }
  @keyframes zoom-out-p {
    from {
      height: 125%;
      width: auto; }
    to {
      height: 100%;
      width: auto; } } }

.head-picture {
  z-index: -1;
  /*nav must be on top*/
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vw; }
  .head-picture img {
    height: auto;
    width: 100%;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .head-picture .text {
    background-color: rgba(54, 53, 56, 0.6);
    color: rgba(246, 246, 246, 0.8);
    width: 100%;
    position: absolute;
    bottom: 10%; }
  .head-picture h1 {
    font-size: calc(24px + (70 - 24) * ((100vw - var(--viewport-min,320px)) / (1600 - 320))); }
  .head-picture h3 {
    font-size: calc(12px + (30 - 12) * ((100vw - var(--viewport-min,320px)) / (1600 - 320)));
    color: inherit;
    padding-top: 0; }
  @media (max-width: 640px) {
    .head-picture {
      height: 65vw; } }
  @media (max-width: 480px) {
    .head-picture {
      height: 75vw; } }

.head-picture {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 0.5s ease-in, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1); }

.loaded .head-picture {
  opacity: 1;
  transform: scale(1); }

.head-picture .text h1 {
  -webkit-animation: slide-in-left 1s ease;
          animation: slide-in-left 1s ease;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s; }

.head-picture .text h3 {
  -webkit-animation: slide-in-right 1s ease;
          animation: slide-in-right 1s ease;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s; }

@-webkit-keyframes slide-in-left {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes slide-in-left {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes slide-in-right {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
