
html{
    font-size: calc(var(--font-size-min,12px) + (20 - 12) * ((100vw - var(--viewport-min,320px)) / (1600 - 320)));
    font-family: 'Spectral', serif;
    line-height: calc(1.5 + (1.5 - 1) * ((100vw - var(--viewport-min,320px)) / (1600 - 320)));
}

img {
    width: 100%;
    height: auto;
}

.vit-min-icon {
    width: 100px;
    height: auto;
}

.head-picture {
    color:  rgb(246, 246, 246, 0.6);
}

.head-picture img {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: -1;
}

.head-picture .text {
    background-color: rgb(54, 53, 56, 0.6);
    position: absolute;
    width: 100%;
    top: 40%;
    text-transform: uppercase;
}

.head-picture h1 {
    font-size: 6vw;    
}

.head-picture h3 {
    font-size: 2vw;  
    width: 40%;
}