<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome-5.9.0/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>

<body>
    <div class="site">

        {% include header.html %}

        <main class="site-main site-main-{{page.layout}}">

            <section class="head-picture">

                <p>
                    <img src="{{page.img}}" alt="img-description">
                </p>
                <div class="text">
                    <h1>{{page.title}}</h1>
                    <h3>{{page.introduction}}</h3>
                </div>

            </section>

            <section class="key-sources">

                <input type="checkbox" id="food-key-sources" />
                <label for="food-key-sources">
                    <i class="fas fa-chevron-down"></i>Top {{page.title}} nutrients
                </label>
                <div class="toggle-section-key-sources">
                    <h2>What am I rich in?</h2>
                    <h4>Top nutrients:</h4>
                    <p>Share of daily recommended intake(%) for {{ page.quantity }} (based on a
                        recommended diet of 2000Kcal)</p>
                    <ul>
                        <li>
                            <img src="{{ site.baseurl }}/imgs/vits-mins/{{ page.nutrient1-img }}"
                                alt="{{ page.nutrient1-name }}" class="image vit-min-icon">
                            <div class="source">{{page.nutrient1-name}}</div>
                            <div class="stat">{{page.nutrient1-share}}</div>
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/imgs/vits-mins/{{ page.nutrient2-img }}"
                                alt="{{ page.nutrient2-name }}" class="image vit-min-icon">
                            <div class="source">{{page.nutrient2-name}}</div>
                            <div class="stat">{{page.nutrient2-share}}</div>
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/imgs/vits-mins/{{ page.nutrient3-img }}"
                                alt="{{ page.nutrient3-name }}" class="image vit-min-icon">
                            <div class="source">{{page.nutrient3-name}}</div>
                            <div class="stat">{{page.nutrient3-share}}</div>
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/imgs/vits-mins/{{ page.nutrient4-img }}"
                                alt="{{ page.nutrient4-name }}" class="image vit-min-icon">
                            <div class="source">{{page.nutrient4-name}}</div>
                            <div class="stat">{{page.nutrient4-share}}</div>
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/imgs/vits-mins/{{ page.nutrient5-img }}"
                                alt="{{ page.nutrient5-name }}" class="image vit-min-icon">
                            <div class="source">{{page.nutrient5-name}}</div>
                            <div class="stat">{{page.nutrient5-share}}</div>
                        </li>
                    </ul>
                </div>

            </section>

            <section class="fun-facts">

                <input type="checkbox" id="food-fun-facts" />
                <label for="food-fun-facts">
                    <i class="fas fa-chevron-down"></i>Fun facts about the {{page.title}}
                </label>
                <div class="toggle-section-fun-facts">
                    <h2>
                        Did you know?
                    </h2>
                    <h4>
                        Fun facts about the {{page.title}}
                    </h4>
                    {{ content }}
                </div>

            </section>


        </main>

        {% include footer.html %}

    </div>
</body>

</html>