<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome-5.9.0/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>

<body>
    <div class="site">

        {% include header.html %}

        <main class="site-main site-main-{{page.layout}}">

            <header class="head-picture">

                {% 
                    include head-picture.html 
                    img=page.img 
                    img-description=page.img-description 
                    h1 = page.title 
                %}

            </header>

            <main class="content">
                {{content}}
            </main>
            
        </main>

        {% include footer.html %}

    </div>
</body>

</html>