<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome-5.9.0/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>

<body>
    <div class="site">

        {% include header.html %}

        <main class="site-main site-main-{{page.layout}}">

            {% 
                include head-picture.html 
                img=page.img 
                img-description=page.img-description 
                subject = page.title 
            %}
    
            <section class="benefits">

                <input type="checkbox" id="checkbox-benefits" />
                <label for="checkbox-benefits">
                    <i class="fas fa-sort-down"></i> {{page.title}} benefits
                </label>
                <div class="toggle-benefits">
                    <h2>
                        What is so special about me?
                    </h2>
                    <h4>
                        The benefits of {{page.title}}
                    </h4>
                    {{ content }}
                </div>
                
            </section>

            <section class="key-sources">

                <input type="checkbox" id="checkbox-key-sources" />
                <label for="checkbox-key-sources">
                    <i class="fas fa-sort-down"></i>Top {{page.title}} sources
                </label>
                <div class="toggle-key-sources">
                    <h2>How can you get me?</h2>
                    <h4>Top Sources:</h4>
                    <p>Share of daily recommended intake(%) (based on a
                        recommended diet of 2000Kcal)</p>
                    <p>We only included plant based products in the list.</p>
                    <ul>
                        <li class="long h-img">
                            <div class="image">
                                    <img src="{{ page.n1source-img }}"
                                    alt="{{ page.n1source-name }}" class="food-icon">
                            </div>
                            <div class="text">
                                <div class="name">{{page.n1source-name}}</div>
                                <div class="stat">{{page.n1source-share}}</div>
                                <div class="stat-base">based on {{page.n1source-quantity}}</div>
                            </div>
                        </li>
                        <li class="mid v-img expand">
                            <div class="image">
                                <img src="{{ page.n2source-img }}"
                                alt="{{ page.n2source-name }}" class="food-icon">
                            </div>
                            <div class="text">
                                <div class="name">{{page.n2source-name}}</div>
                                <div class="stat">{{page.n2source-share}}</div>
                                <div class="stat-base">based on {{page.n2source-quantity}}</div>
                            </div>
                        </li>
                        <li class="mid h-img">
                            <div class="image">
                                <img src="{{page.n3source-img}}" alt="{{page.n3source-name}}"
                                    class="food-icon">
                            </div>
                            <div class="text">
                                <div class="name">{{page.n3source-name}}</div>
                                <div class="stat">{{page.n3source-share}}</div>
                                <div class="stat-base">based on {{page.n3source-quantity}}</div>
                            </div>
                        </li>
                        <li class="mid v-img">
                            <div class="image">
                                <img src="{{page.n4source-img}}" alt="{{page.n4source-name}}"
                                    class="food-icon">
                            </div>
                            <div class="text">
                                <div class="name">{{page.n4source-name}}</div>
                                <div class="stat">{{page.n4source-share}}</div>
                                <div class="stat-base">based on {{page.n4source-quantity}}</div>
                            </div>  
                        </li>
                        <li  class="mid v-img">
                            <div class="image">
                                <img src="{{page.n5source-img}}" alt="{{page.n5source-name}}"
                                    class="food-icon">
                            </div>
                            <div class="text">
                                <div class="name">{{page.n5source-name}}</div>
                                <div class="stat">{{page.n5source-share}}</div>
                                <div class="stat-base">based on {{page.n5source-quantity}}</div>
                            </div>
                        </li>
                        <li  class="mid v-img expand">
                            <div class="image">
                                <img src="{{page.n6source-img}}" alt="{{page.n6source-name}}"
                                    class="food-icon">
                            </div>
                            <div class="text">
                                <div class="name">{{page.n6source-name}}</div>
                                <div class="stat">{{page.n6source-share}}</div>
                                <div class="stat-base">based on {{page.n6source-quantity}}</div>
                            </div>
                        </li>
                        <li  class="mid v-img">
                            <div class="image">
                                <img src="{{page.n7source-img}}" alt="{{page.n7source-name}}"
                                    class="food-icon">
                            </div>
                            <div class="text">
                                <div class="name">{{page.n7source-name}}</div>
                                <div class="stat">{{page.n7source-share}}</div>
                                <div class="stat-base">based on {{page.n7source-quantity}}</div>
                            </div>
                        </li>
                        <li  class="mid v-img">
                            <div class="image">
                                <img src="{{page.n8source-img}}" alt="{{page.n8source-name}}"
                                    class="food-icon">
                            </div>
                            <div class="text">
                                <div class="name">{{page.n8source-name}}</div>
                                <div class="stat">{{page.n8source-share}}</div>
                                <div class="stat-base">based on {{page.n8source-quantity}}</div>
                            </div>
                        </li>
                        <li  class="mid h-img">
                            <div class="image">
                                <img src="{{page.n9source-img}}" alt="{{page.n9source-name}}"
                                    class="food-icon">
                            </div>
                            <div class="text">
                                <div class="name">{{page.n9source-name}}</div>
                                <div class="stat">{{page.n9source-share}}</div>
                                <div class="stat-base">based on {{page.n9source-quantity}}</div>
                            </div>
                        </li>
                        <li class="long h-img">
                            <div class="image">
                                <img src="{{page.n10source-img}}"
                                    alt="{{page.n10source-name}}" class="food-icon">
                            </div>
                            <div class="text">
                                <div class="name">{{page.n10source-name}}</div>
                                <div class="stat">{{page.n10source-share}}</div>
                                <div class="stat-base">based on {{page.n10source-quantity}}</div>
                            </div>  
                        </li>
                    </ul>
                </div>

            </section>
        </main>

        {% include footer.html %}

    </div>
</body>

</html>