<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome-5.9.0/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>

<body>
    <div class="site">

        {% include header.html %}

        <main class="site-main site-main-{{page.layout}}">

            <section class="head-picture">

                <p>
                    <img src="{{page.img}}" alt="img-description">
                </p>
                <h1>{{page.title}}</h1>

            </section>

            <section class="benefits">

                <h2>
                    What is so special about me?
                </h2>
                <h4>
                    The benefits of {{page.title}}
                </h4>
                {{ content }}

            </section>

            <section class="key-sources">

                <h2>How can you get me?</h2>
                <h4>Top Sources:</h4>
                <p>Share of daily recommended intake(%) (based on a
                    recommended diet of 2000Kcal)</p>
                <p>We only included plant based products in the list.</p>
                <ul>
                    <li>
                        <img src="{{ site.baseurl }}/imgs/food-icon/{{ page.n1source-img }}"
                            alt="{{ page.n1source-name }}" class="food-icon">
                        <div class="name">{{page.n1source-name}}</div>
                        <div class="stat">{{page.n1source-share}}</div>
                        <div class="stat-base">based on {{page.n1source-quantity}}</div>
                    </li>
                    <li>
                        <img src="{{ site.baseurl }}/imgs/food-icon/{{ page.n2source-img }}"
                            alt="{{ page.n2source-name }}" class="food-icon">
                        <div class="name">{{page.n2source-name}}</div>
                        <div class="stat">{{page.n2source-share}}</div>
                        <div class="stat-base">based on {{page.n2source-quantity}}</div>
                    </li>
                    <li>
                        <img src="{{ site.baseurl }}/imgs/food-icon/{{page.n3source-img}}" alt="{{page.n3source-name}}"
                            class="food-icon">
                        <div class="name">{{page.n3source-name}}</div>
                        <div class="stat">{{page.n3source-share}}</div>
                        <div class="stat-base">based on {{page.n3source-quantity}}</div>
                    </li>
                    <li>
                        <img src="{{ site.baseurl }}/imgs/food-icon/{{page.n4source-img}}" alt="{{page.n4source-name}}"
                            class="food-icon">
                        <div class="name">{{page.n4source-name}}</div>
                        <div class="stat">{{page.n4source-share}}</div>
                        <div class="stat-base">based on {{page.n4source-quantity}}</div>
                    </li>
                    <li>
                        <img src="{{ site.baseurl }}/imgs/food-icon/{{page.n5source-img}}" alt="{{page.n5source-name}}"
                            class="food-icon">
                        <div class="name">{{page.n5source-name}}</div>
                        <div class="stat">{{page.n5source-share}}</div>
                        <div class="stat-base">based on {{page.n5source-quantity}}</div>
                    </li>
                    <li>
                        <img src="{{ site.baseurl }}/imgs/food-icon/{{page.n6source-img}}" alt="{{page.n6source-name}}"
                            class="food-icon">
                        <div class="name">{{page.n6source-name}}</div>
                        <div class="stat">{{page.n6source-share}}</div>
                        <div class="stat-base">based on {{page.n6source-quantity}}</div>
                    </li>
                    <li>
                        <img src="{{ site.baseurl }}/imgs/food-icon/{{page.n7source-img}}" alt="{{page.n7source-name}}"
                            class="food-icon">
                        <div class="name">{{page.n7source-name}}</div>
                        <div class="stat">{{page.n7source-share}}</div>
                        <div class="stat-base">based on {{page.n7source-quantity}}</div>
                    </li>
                    <li>
                        <img src="{{ site.baseurl }}/imgs/food-icon/{{page.n8source-img}}" alt="{{page.n8source-name}}"
                            class="food-icon">
                        <div class="name">{{page.n8source-name}}</div>
                        <div class="stat">{{page.n8source-share}}</div>
                        <div class="stat-base">based on {{page.n8source-quantity}}</div>
                    </li>
                    <li>
                        <img src="{{ site.baseurl }}/imgs/food-icon/{{page.n9source-img}}" alt="{{page.n9source-name}}"
                            class="food-icon">
                        <div class="name">{{page.n9source-name}}</div>
                        <div class="stat">{{page.n9source-share}}</div>
                        <div class="stat-base">based on {{page.n9source-quantity}}</div>
                    </li>
                    <li>
                        <img src="{{ site.baseurl }}/imgs/food-icon/{{page.n10source-img}}"
                            alt="{{page.n10source-name}}" class="food-icon">
                        <div class="name">{{page.n10source-name}}</div>
                        <div class="stat">{{page.n10source-share}}</div>
                        <div class="stat-base">based on {{page.n10source-quantity}}</div>
                    </li>
                </ul>

            </section>
        </main>

        {% include footer.html %}

    </div>
</body>

</html>