<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome-5.9.0/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>

<body>
    <div class="site">

        {% include header.html %}

        <main class="site-main site-main-{{page.layout}}">

            <header class="head-picture">

                <p>
                    <img src="{{page.img}}" alt="img-description">
                </p>
                <div class="text">
                    <h1>{{page.title}}</h1>
                </div>

            </header>

            <main class="content">

                <section class="instructions">

                    {{ content }}

                </section>

                <section class="nutrition-info">
                    <h4>Richest in:</h4>
                    <p>Share of daily recommended intake(%) for a portion of {{page.nutrient-share-base}} (based on a
                        recommended diet of 2000Kcal)</p>
                    <ul>
                        <li class="element-info">
                            <img src="{{ site.baseurl }}/imgs/vits-mins/{{page.top1nutrient-img}}"
                                alt="{{page.top1nutrient-name}}" class="vit-min-icon image">
                            <div class="name">{{page.top1nutrient-name}}</div>
                            <div class="stat">{{page.top1nutrient-share}}</div>
                        </li>
                        <li class="element-info">
                            <img src="{{ site.baseurl }}/imgs/vits-mins/{{page.top2nutrient-img}}"
                                alt="{{page.top2nutrient-name}}" class="vit-min-icon image">
                            <div class="name">{{page.top2nutrient-name}}</div>
                            <div class="stat">{{page.top2nutrient-share}}</div>
                        </li>
                        <li class="element-info">
                            <img src="{{ site.baseurl }}/imgs/vits-mins/{{page.top3nutrient-img}}"
                                alt="{{page.top3nutrient-name}}" class="vit-min-icon image">
                            <div class="name">{{page.top3nutrient-name}}</div>
                            <div class="stat">{{page.top3nutrient-share}}</div>
                        </li>
                        <li class="element-info">
                            <img src="{{ site.baseurl }}/imgs/vits-mins/{{page.top4nutrient-img}}"
                                alt="{{page.top4nutrient-name}}" class="vit-min-icon image">
                            <div class="name">{{page.top4nutrient-name}}</div>
                            <div class="stat">{{page.top4nutrient-share}}</div>
                        </li>
                        <li class="element-info">
                            <img src="{{ site.baseurl }}/imgs/vits-mins/{{page.top5nutrient-img}}"
                                alt="{{page.top5nutrient-name}}" class="vit-min-icon image">
                            <div class="name">{{page.top5nutrient-name}}</div>
                            <div class="stat">{{page.top5nutrient-share}}</div>
                        </li>
                    </ul>
                </section>

            </main>
        </main>

        {% include footer.html %}

    </div>
</body>

</html>