<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome-5.9.0/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>

<body>
    <div class="site">

        {% include header.html %}

        <main class="site-main">

            <section>
                <heading>
                    <h2>{{page.title}}</h2>
                </heading>
                
                {{ content }}

                <div class="best-in">
                    <h4>
                        Nutrition-Chart:
                    </h4>
                    <p>
                        <img src="{{page.chart}}" alt="nutrition-chart">
                    </p>
                </div>
            </section>

            <section class="recipe-image">
                <p>
                    <img src="{{page.img}}" alt="img-description">
                </p>
            </section>

        </main>

        {% include footer.html %}

    </div>
</body>

</html>