.site-main-category-introduction .gallery .image-article{
    a{
        transition: opacity 0.1 linear,
                    width 0.1s linear,
                    height 0.1s linear;
    }

    &:hover a{
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    
    &:before {
        transition: top 1s linear, bottom 1s linear;
    }
    
    &:hover:before{
        top: 100%;
        bottom: 100%;
        transition: top 1s linear, bottom 1s linear;
    }
}



