$opacity: 0.9;
.site-main-default {
    .content{
        margin: 0 2rem 4rem 2rem;
    }
    
    h3 {
        color: var(--theme-color-dark-blue, #408697);
        font-weight: 600;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    
    .recipes>p {
        padding-bottom: 2rem;
    }

    .perfect-recipe{
        .gallery article .text,
        .gallery article img{
            opacity: 1;
        }

        .gallery article .image{
            border-color: transparent;
        }
    }
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: max-content;
    }
    
    .gallery article{
        display: flex;
        flex-flow: column nowrap;
        position: relative;

        color: var(--theme-color-white, #F6F6F6);
        border: 0.75rem double transparent;
        @include box-shadow;
    }

    /* image */

    .gallery .image {
        @include color-with-opacity("border", var(--theme-color-black-rgba, 54, 53, 56), $opacity, "0.5rem solid");
        display: block;

        padding-top: 65%;

        img {
            opacity: 0.75;
        }
    }

    /* text */

    .gallery .text{     
        flex: 1 1 30%;

        @include dark-background($opacity);
        border-bottom: 0.15rem solid var(--theme-color-dark-blue, #408697);
        
        padding: 0.5rem 1rem;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        h5 {
            font-size: 2rem;
        }
    }

    /* disclaimer */
    .disclaimer-content{
        padding: 10rem 2rem; 
        justify-content: center;
    }

}




