$opacity: 0.9;
.site-main-default {
    .content{
        padding: 0 2rem 4rem 2rem;
    }
    
    h3 {
        color: var(--theme-color-dark-blue, #408697);
        font-weight: 600;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    
    .recipes>p {
        padding-bottom: 2rem;
    }
    
    .gallery article{
        display: flex;
        flex-flow: column nowrap;

        color: var(--theme-color-white, #F6F6F6);
        border: 0.75rem double transparent;
        @include box-shadow
    }

    /* image */

    .gallery {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: max-content;
    }

    .gallery .image {
        border: 0.5rem solid rgba(54,53,56,$opacity);
        display: block;
        position: relative;

        img {
            opacity: 0.75;
        }

        &:before{
            content: "";
            position: absolute;
            top:0;right:0;left:0;bottom:0;
            z-index: 1;
        }
    }

    /* text */

    .gallery .text{     
        flex: 1 1 30%;

        background-color: var(--theme-color-black, #363538);
        opacity: $opacity;
        border-bottom: 0.15rem solid var(--theme-color-dark-blue, #408697);
        
        padding: 0.5rem 1rem;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        h5 {
            font-size: 2rem;
        }
    }

    /* disclaimer */
    .disclaimer{
        padding: 15vw 2rem 7.5vw 2rem; 
        justify-content: center;
    }

}




