.site-main-default .content{
    padding-bottom: 2rem;
}

.site-main-default .content>*{
    padding: 0 2rem;
}

.site-main-default h3 {
    color: var(--theme-color-dark-blue, #408697);
    font-weight: 600;
    padding: 2rem 0;
}

.site-main-default>section{
    margin-bottom: 2rem;
}

.site-main-default .recipes>p {
    padding-bottom: 2rem;
}

.site-main-default .articles{
    padding-bottom: 2rem;
}

.site-main-default .gallery article{
    display: flex;
    flex-flow: column nowrap;
    color: rgba(246, 246, 246, 0.6);
    border: 0.8rem double rgba(246,246,246,0);
    box-shadow: 0px 0px 30px 5px var(--theme-color-black, #363538);
}

/* image */

.site-main-default .gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: max-content;
}

.site-main-default .gallery .image {
    border: 0.4rem solid rgba(54,53,56,0.8);
}

.site-main-default .gallery .image img {
    opacity: 0.75;
}

.site-main-default .gallery .image:hover img,
.site-main-default .gallery .image:hover ~ .text {
    opacity: 1;
}

.site-main-default .gallery .image:before{
    content: "";
    position: absolute;
}

.site-main-default .gallery .image:hover{
    border-color: rgba(54,53,56,0);
}

/* text */

.site-main-default .gallery .text h5 {
    font-size: 2rem;
}

.site-main-default .gallery .text{
    color: var(--theme-color-white, #F6F6F6);
    opacity: 0.8;
    border-bottom: 0.15rem solid var(--theme-color-dark-blue, #408697);
    
    background-color: var(--theme-color-black, #363538);
    flex: 1 1 30%;
}

/* disclaimer */
.site-main-default .disclaimer{
    padding: 8rem 3rem 5rem 3rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

