.site-main-default {
    .perfect-recipe .gallery article:hover .image img {
        animation: zoom-in-recipe 1.5s ease;
        animation-fill-mode: both;
    }
    
    .perfect-recipe .gallery article .image img {
        animation: zoom-out-recipe 0.5s ease;
        animation-fill-mode: both;
    }

    .gallery article .image{
        transition: border-color 0.6s ease-in;

        &:hover{
            border-color: transparent;
        }

        img,
        &~.text{
            transition: opacity 0.6s ease-in;
        }
        
        &:hover img,
        &:hover ~ .text {
            opacity: 1;
        }
    }

    @include lens(auto,100%,auto,125%,"zoom-in-recipe");
    @include lens(auto,125%,auto,100%,"zoom-out-recipe");
}


