
.site-main-default {
    @include bp(tablet-large) {

        .about-us-content .thesis{
            display: flex;
            flex-flow: column nowrap;
            
        }

        .gallery {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: max-content;
            grid-gap: 1rem;
        }
    }
}
