/* contact - us */
.site-main-default .contact-us-content{
    margin: 4rem 2rem;

    h4,
    .button{
    @include dark-background(0.8);
    border: var(--blue-border,0.15rem solid var(--theme-color-dark-blue, #408697));

    font-size: 1.5rem;

    display: block;
    width: 100%;

    text-align: center;
    padding: 0.5rem 0;

    letter-spacing: 0.1rem;
    }

    .row{
        position: relative;
    }
    
    i{
        font-size: 1rem;
        color: var(--theme-color-grey, #8D8C8A);
        z-index: 1;
        
        position: absolute;
        left: 0.5rem;
        top: 50%;
        text-align: center;
        
        transform: translateY(-50%);
    }
    
    option,
    select,
    input,
    textarea{
        width: 100%;
    
        color: var(--theme-color-grey, #8D8C8A);
        font-size: 1rem;
        
        padding-left: 3rem;
        margin: 1rem 0;
    }
    
    option,
    select,
    input{
        height: 2rem;
    }
    
    input:focus,
    textarea:focus,
    select:focus{
        @include dark-background(0.8);
        border: var(--blue-border,0.15rem solid var(--theme-color-dark-blue, #408697));
    }
    
}





