.site-main-food-profile input[type="checkbox"]:checked{
    &~.toggle-fun-facts, 
    &~.toggle-key-sources, 
    &~.toggle-key-sources ul>li {
        animation: slide-in-right 1s ease;
    }
    
    &~.toggle-key-sources ul{
        $delay: 0.1;
        @for $i from 2 through 5 {
          li:nth-of-type(#{$i}) {
            animation-delay: $delay;
          }
             $delay: $delay+0.1;
        }
    }
    
    @include slide-in(100%,0,0,'slide-in-right');
    
    &~.toggle-fun-facts .food-fact,
    &~.toggle-key-sources ul>li {
        animation: scale 1s linear;
        animation-delay: 0.1s;
    }
    
    @include lens(0,0,100%,100%,"scale");
}



