

.site-main-food-profile{
    @include drop-down-template('key-sources','fun-facts')
 }

 /* nutrition - info */
 .site-main-food-profile .key-sources {
    ul{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 1rem;

        li{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        .stat{
            font-size: 2rem;
            font-weight: 800;

            color: var(--theme-color-dark-blue, #408697);
        }

        .source{
            @include dark-background(0.5);
            border: 0.25rem inset var(--theme-color-dark-blue, #408697);
            
            padding: 0.5rem 0;

            text-transform: uppercase;
            text-align: center;

            width: 100%;
        }
    }

    .vit-min-icon{
        height: auto;
        width: 6rem;
    }
}


/* fun-facts */
.site-main-food-profile .fun-facts{
    p{
        text-align: right;
        font-style: italic;
        @include dark-background(0.5);
        padding: 0.5rem;
    }

    .food-fact{
        position: relative;

        .image {
            width: auto;
            height: 60vw;
            border: 1rem groove rgba(246, 246, 246, 0.8);
        }

        h6 {
        position: sticky;
    
        background-color: rgba(54, 53, 56, 0.8);
        color:  rgba(246, 246, 246, 0.8);
     
        width: 100%;
        bottom: 0;
    
        padding: 0 1rem;
    
        font-size: 1.5rem;
        text-transform: uppercase;
    
        z-index: 2;
        }
    }
}