.gallery-content {
	@include bp(tablet-large) {
		grid-template-columns: repeat(3, 25vw);
	}

	@include bp(phone-large) {
		grid-template-columns: repeat(2, 40vw);
	}

	@include bp(phone-medium) {
		display: flex;
		flex-flow: column nowrap;

		.image-article:nth-of-type(n + 0) {
			padding-top: 70%;
			img {
				height: 100%;
				width: auto;
			}
		}

		.image-article:nth-of-type(n + 0):hover img {
			animation: zoom-in-p 1.5s ease;
		}

		.image-article:nth-of-type(n + 0) img {
			animation: zoom-out-p 0.5s ease;
		}

		.image-article:nth-of-type(n + 0):hover img {
			@include default-animation("zoom-in-p", 2);
		}

		.image-article:nth-of-type(n + 0) img {
			@include default-animation("zoom-out-p", 0);
		}

		.image-article:hover:before {
			@include default-animation("lens",2);
		}

		.image-article:before {
			@include default-animation("lens-out",0);
		}

			@include lens(100%, auto, 150%, auto, "zoom-in-p");
			@include lens(150%, auto, 100%, auto, "zoom-out-p");

			@include lens(100%, 100%, 0.000001rem, 0.000001rem, "lens");
			@include lens(100%, 100%, 0.000001rem, 0.000001rem, "lens-out");
		}
}
