.head-picture {
    z-index: -1; /*nav must be on top*/

    position: relative;
    overflow: hidden;
    
    width: 100%;
    height: 50vw;

    img{
        height: auto;
        width: 100%; 
    }

    .text{
        background-color: rgba(54, 53, 56, 0.6);
        color:  rgba(246, 246, 246, 0.8);
    
        width: 100%;
        position: absolute;
        bottom: 10%;
    }

    h1{
        @include font(24px, 24, 70);
    }

    h3{
        color: inherit;
        padding-top: 0;

        @include font(10px, 10, 30);
    }

    @include bp(phone-large) {
        height: 70vw;
    }
}