.site-main-how-to-article .content{
    $image: "https://images.pexels.com/photos/1478524/pexels-photo-1478524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260";
    $page1: ".the-basics";
    $page2: ".tips-tricks";
    @include notebook-template($image, $page1,$page2);

    h4{
        height: 6rem;
    }
}

.site-main-how-to-article .content{
    .the-basics ul li .steps,
    .the-basics p {
        font-weight: 800;
        text-transform: uppercase;
    }

    .the-basics p{
        padding-top: 3rem;
    }

    .tips-tricks ul li{
        @include fa-single-icon-list-addition("\f164");
    }

    .the-basics ul li .steps,
    .the-basics p,
    .tips-tricks ul li:before{
        font-size: 1.5rem;
    }

    .the-basics ul li .steps,
    .tips-tricks ul li:before{   
        color: var(--theme-color-dark-blue, #408697); 
        padding-right: 1rem;
    }
}
