@mixin bp($point) {

    @if $point == desktop {
        @media (min-width: 1600px) {
            @content;
        }
    }

    @else if $point == laptop-large {
        @media (max-width: 1600px) {
            @content;
        }
    }

    @else if $point == laptop {
        @media (max-width: 1024px) {
            @content;
        }
    }

    @else if $point == tablet-large {
        @media (max-width: 960px) {
            @content;
        }
    }

    @else if $point == tablet {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $point == phone-large {
        @media (max-width: 640px) {
            @content;
        }
    }

    @else if $point == phone-medium {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $point == phone-small {
        @media (max-width: 320px) {
            @content;
        }
    }
}

@mixin font($min-metric, $min, $max) {
    font-size: calc(#{$min-metric} + (#{$max} - #{$min}) * ((100vw - var(--viewport-min,320px)) / (1600 - 320)));
}

@mixin dark-background($opacity) {
    background-color: var(--theme-color-black, #363538);
    color: var(--theme-color-white, #F6F6F6);
    opacity: #{$opacity};
}

@mixin box-shadow{
    box-shadow: var(--box-shadow,0px 0px 30px 5px var(--theme-color-black, #363538));
}

/* animations */
@mixin slide-in($x, $y, $z, $name) {
    @keyframes #{$name}{
        from{
            transform: translate3d(#{$x},#{$y},#{$z});
            opacity: 0;
            visibility: hidden;
        }
    
        to{
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }
}

@mixin zoom-landscape($from, $to, $name) {
    @keyframes #{$name} {
        from {
            height: auto;
            width: #{$from};
        }
        to {
            height: auto;
            width: #{$to};
        }
    }
}

@mixin lens($from-height, $from-width, $to-height, $to-width, $name) {
    @keyframes #{$name} {
        from {
            height: #{$from-height};
            width: #{$from-width};
        }
        to {
            height: #{$to-height};
            width: #{$to-width};
            background-color: var(--theme-color-black, #363538);
            opacity: 0.2;
        }
    }
}

@mixin fa-icon-list-addition($icons, $path: "") {
    $i: 1;
    @each $icon in $icons{
        li:nth-of-type(#{$i})#{$path}:before{
            content: $icon;
            font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
            font-weight: 900;
        }
        $i: $i + 1;
    }
}

@mixin fa-single-icon-list-addition($icon, $path: "&") {
    #{$path}:before{
        content: $icon;
        font-family: 'Font Awesome\ 5 Free', 'Font Awesome 5 Brands';
        font-weight: 900;
    }
}

@mixin img-in-wrap-positioning($height, $width){
    img{
        height: #{$height};
        width: #{$width}; 

        position: absolute;

        min-height: 100%;
        min-width: 100%;
    
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
}



