.site-main-nutrient-profile .key-sources ul {
  @include bp(tablet-large) {
    grid-template-columns: 20% repeat(4, 1fr) 20%;

    li.mid.v-img.expand {
      grid-row: span 3;
    }
  }

  @include bp(phone-large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 30vw);
    align-items: stretch;

    li.mid.v-img.expand,
    li.mid.h-img,
    li.mid.v-img {
      grid-row: span 1;
      grid-column: 1/-1;
    }

    li.mid.v-img img {
      width: 100%;
      height: auto;
    }
  }
}
