
.site-main-nutrient-profile input[type="checkbox"]:checked{
    &~.toggle-benefits h2, 
    &~.toggle-benefits h4,
    &~.toggle-key-sources, 
    &~.toggle-benefits ul li {
        animation: slide-in-right 1s ease;
    }
    
    &~.toggle-benefits ul{
        $delay: 0.02;
        @for $i from 2 through 10 {
           li:nth-of-type(#{$i}) {
            animation-delay: (#{$delay}s);
          }
             $delay: $delay+0.02;
        }
    }
    
    @include slide-in(100%,0,0,'slide-in-right');
    
    &~.toggle-key-sources ul {
        animation: scale 1s linear;
        animation-delay: 0.1s;
    }
    
    @include scale;
}

