.site-main-recipe .content  {
    @include bp(laptop) {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .nutrition-info .element-info .image{
            height: 18vw;
        }
    }

    @include bp(phone-large) {
        .nutrition-info .element-info .image{
            height: 25vw;
        }
    }

    @include bp(phone-medium) {

        .nutrition-info .element-info .image{
            height: 30vw;
        }
    }
}

