
.site-main-recipe .content{
    $image: "https://images.pexels.com/photos/2180090/pexels-photo-2180090.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260";
    $page1: ".instructions";
    $page2: ".nutrition-info";
    @include notebook-template($image, $page1,$page2);
    
    input[type="checkbox"]{
            display: none;
        }
}

/*instructions*/
.site-main-recipe .content .instructions{
    label{
        cursor: pointer;
    }

    .recipe-ingredients,
    .recipe-instructions{
        padding-bottom: 2rem;
    }

    .recipe-ingredients ul{
        display: grid;
        grid-template-columns: 50% 50%;

        li{
            display: grid;
            grid-template-columns: 15% 85%; 

            .recipe-ingredient{
                display: grid;
                grid-template-columns: 20% 80%;
            }
        }
    }

    .recipe-instructions p,
    .recipe-ingredients ul li {
        text-align: left;
        padding: 0.5rem 0;  
    }
    
    .recipe-ingredients ul li{
        @include fa-single-icon-list-addition('\f291');
    }
    
    .recipe-instructions p{
        @include fa-single-icon-list-addition('\f5a7');
    }

    :before{
        color: var(--theme-color-dark-blue, #408697);
        padding-right: 1rem;
    }

    input[type="checkbox"]:checked~.recipe-ingredient{
        text-decoration: line-through solid var(--theme-color-dark-blue, #408697);
    }
    
    input[type="checkbox"]:checked~.recipe-instruction{
        text-decoration: line-through solid var(--theme-color-dark-blue, #408697);
    }
}

/* nutrition-info */
.site-main-recipe .content .nutrition-info{ 
    ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        height: 85%;

        li:nth-of-type(1),
        li:nth-of-type(2){
            align-self: flex-start;
            width: 100%;
        }

        li:nth-of-type(3){
            grid-column: 1/-1;
            align-self: center;
            width: 50%;
        }

        li:nth-of-type(4),
        li:nth-of-type(5){
            align-self: flex-end;    
            width: 100%;
        }
    }

    ul .element-info{   
        text-align: center;

        color: var(--theme-color-dark-blue, #408697);
        font-weight: 800;
        letter-spacing: var(--letter-spacing, 0.1rem);

        padding: 1rem;
    }

    ul .element-info .name{
        text-transform: uppercase;
        @include dark-background(0.5);
        border: 0.25rem inset var(--theme-color-dark-blue, #408697);
        padding: 0.5rem 0;
    }

    ul .element-info .stat{
        font-size: 2rem;
    }

    .element-info .image{
        height: 10vw;
        width: auto;

        left: 50%;
        transform: translate(-50%);
    }
}
