.site-header>.site-nav>.site-nav-options>li>a,
.site-header .site-logo{
    animation: slide-in-top 1s ease;
}

.site-header>.site-nav>.site-nav-options{
    $delay: 0.05;
    @for $i from 2 through 6 {
      li:nth-of-type(#{$i})>a {
        animation-delay: $delay;
      }
         $delay: $delay+0.05;
    }
}

@include img-in-wrap-positioning(0,-100%,"slide-in-top");


