.site-header {
    @include bp(tablet-large) {

        .site-nav-menu{
            display: block;
            font-size: 0;
            
            text-align: right;

            &:before{
                position: static;
    
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .site-nav-options {
            display: none;
        }

        #menu:checked+.site-nav-menu:before {
            content: '\f00d';
        }
    
        /* when the menu icon is clicked display the nav options */
        #menu:checked~.site-nav-options {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-end;

            li a {
                z-index: 2;
            }

            &>li:hover>a{
                text-align: right;
            }

            &>li:hover>ul {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;

                position: relative;
                right: 0;

                z-index: 3;
                
                border-top: 0.15rem solid var(--theme-color-dark-blue, #408697);
            }
        }
    }

    @include bp(phone-medium){
        /* when the menu icon is clicked display the nav options */
        #menu:checked~.site-nav-options {

            &>li a{
                text-align: right;
            }
            
            &>li>ul {
                position: static;
                align-items: flex-end;
                border-top: 0.15rem solid var(--theme-color-dark-blue, #408697);
                width: 40vw;
            }
        }
    }
}
