@media (max-width:960px) {

    .site-header .site-nav-menu i {
        color: var(--theme-color-white, #F6F6F6);
        display: block;
        position: static;
    }

    .site-nav>.site-nav-options {
        display: none;
    }

    .site-nav-menu:hover{
        cursor: pointer;
    }

    /* when the menu icon is clicked display the nav options */
    #menu:checked~.site-nav-options {
        display: flex;
        flex-flow: column nowrap;
    }

    #menu:checked~.site-nav-options a {
        z-index: 2;
    }

    #menu:checked~.site-nav-options>li:hover>ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        position: relative;
        right: auto;
        z-index: 3;
    }

    /* make the menu icon invisible and really big so we can close the menu by clicking on any area outside the nav */
    #menu:checked+.site-nav-menu i {
        opacity: 0;

        position: absolute;
        top:0;bottom: 0;left: 0;right: 0;
        
        font-size: 400vw;
        z-index: 1;
    }
}
