
$footer-contact-icons: ("\f2a0","\f0e0","\f5a0");
$footer-follow-us-icons: ("\f39e","\f16d","\f099","\f231","\f167");

.site-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

    @include dark-background;
    border-top: var(--blue-border, 0.15rem solid var(--theme-color-dark-blue, #408697));

    letter-spacing: var(--letter-spacing,0.1rem);

    padding: 1rem 2rem;

    h4{
        color: var(--theme-color-dark-blue, #408697);
        font-weight: 600;
    }
    
    :after{
        color: var(--theme-color-grey, #8D8C8A);
        width: 2rem;
    }
}

/* follow-us*/
.site-footer .follow-us {    
    position: relative;

    /* add icons to ul li a:after */
    @include fa-icon-list-addition($footer-follow-us-icons, " a");

    h4,h6{
        text-align: right;
    }
    
    ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 2rem;
        
        position: absolute;
        right: 0;
    }
    
    a:hover:after{
        color: var(--theme-color-dark-blue, #408697); 
    }
}

/* about */
.site-footer .about p{
    font-size: 0.75rem;
}

/* contacts */
.site-footer .contacts {
    /* add icons to ul li:after */
    @include fa-icon-list-addition($footer-contact-icons);

    h4,h6{
        text-align: left;
    }

    li{
        position: relative;

        padding-left: 2rem;

        &:after{
            position: absolute;
            top: 50%; left: 0;
            transform: translateY(-50%);
        }
    }
}


