.site-footer {
    @include bp(tablet-large) {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: repeat(4,1fr);
            grid-column-gap: 2rem;
    
        .contacts,
        .follow-us{
            grid-column: span 2;
            grid-row: 1;
        }
    
        .about{
            grid-column: span 4;
            align-self: center;
        }

        #flat{
            display: block;
        }
    }
}