:root{
    --font-size-max: 20px;
    --font-size-min: 12px;

    --viewport-min: 320px;
    --viewport-max: 1600px;

    --min-line-height: 1;
    --max-line-height: 1.5;

    --theme-color-black: #363538;
    --theme-color-grey: #8D8C8A;
    --theme-color-white: #F6F6F6;
    --theme-color-dark-blue: #408697;

    --blue-border: 0.15rem solid var(--theme-color-dark-blue, #408697);
    --letter-spacing: 0.1rem;
}